{% extends 'auth_base.html.twig' %}

{% block title %}Email Verification Sent{% endblock %}

{% block body %}
    <section class="section">
        <div class="lm-container">

            <div class="form-container">
                <div class="section-title-wrap">
                    <h2 class="section-title text-center">
                        Check Your Inbox!
                    </h2>
                </div>

                <div class="text-center">
                    <h5 class="mb-4">We've sent a confirmation email</h5>

                    <p>Please check your email inbox to verify your account.</p>
                    <p>If you don't find it in your inbox, kindly look in your spam or junk folder.</p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
