{% for label, messages in app.flashes %}
    {% for message in messages %}
        <div class="toast text-white border-0 mb-2 shadow" role="alert" aria-live="assertive" aria-atomic="true" data-bs-delay="3000" style="background: linear-gradient(to right, rgb(5, 26, 72), rgb(231, 5, 122));
    transform: translate(0px, 0px);">
            <div class="d-flex px-3 py-2">
                <div class="toast-body flex-grow-1 text-break">
                    {{ message }}
                </div>
                <button type="button" class="btn-close btn-close-white mt-2 ms-2" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
        </div>
    {% endfor %}
{% endfor %}

<script>
    document.addEventListener('DOMContentLoaded', function () {
        document.querySelectorAll('.toast').forEach(function (el) {
            new bootstrap.Toast(el).show();
        });
    });
</script>
