{% extends 'provider/base.html.twig' %}

{% block title %}Edit Education & Training{% endblock %}

{% block provider_body %}
<div class="container-xl">
    <h1 class="app-page-title">Edit Education & Training</h1>
    <section class="content">
        <div class="row">
            <div class="col-12">
                {{ include('provider/education/_form.html.twig', {'button_label': 'Update'}) }}
            </div>
        </div>
    </section>
</div>
{% endblock %}

{% block footer_scripts %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>

    <script>
        $(".js-datepicker").flatpickr();
    </script>
{% endblock %}
