{% extends 'employer/base.html.twig' %}

{% block title %}Invoice Paid{% endblock %}

{% block employer_body %}
<div class="container-xl">

    <h1 class="app-page-title">Invoice Paid</h1>

    <section id="success" class="hidden">
        <p>
            We appreciate your business! A confirmation email will be sent to <span id="customer-email"></span>.

            If you have any questions, please contactus.
        </p>
    </section>

</div>
{% endblock %}

{% block footer_scripts %}
{#    <script>#}
{#        initialize();#}

{#        async function initialize() {#}
{#            const queryString = window.location.search;#}
{#            const urlParams = new URLSearchParams(queryString);#}
{#            const sessionId = urlParams.get('session_id');#}
{#            const response = await fetch("{{ path('app_employer_invoice_get_payment_status') }}", {#}
{#                headers: {#}
{#                    Accept: "application/json",#}
{#                    "Content-Type": "application/json",#}
{#                },#}
{#                method: "POST",#}
{#                body: JSON.stringify({ session_id: sessionId }),#}
{#            });#}
{#            const session = await response.json();#}

{#            if (session.status == 'open') {#}
{#                window.location = '{{ path('app_employer_invoice_pay', {'id': invoice.id}) }}'#}
{#            } else if (session.status == 'complete') {#}
{#                document.getElementById('success').classList.remove('hidden');#}
{#                document.getElementById('customer-email').textContent = session.customer_email#}
{#            }#}
{#        }#}
{#    </script>#}
{% endblock %}