{% extends 'admin/base.html.twig' %}

{% block title %}New Speciality{% endblock %}

{% block admin_body %}
<div class="container-xl">
    <h1 class="app-page-title">Create new Speciality</h1>

    {{ include('admin/speciality/_form.html.twig') }}
</div>
{% endblock %}
