{% extends 'employer/base.html.twig' %}

{% block title %}Edit Job{% endblock %}

{% block employer_body %}
<div class="container-xl">
    <h1 class="app-page-title">Edit job</h1>

    {{ include('employer/job/_form.html.twig', {'button_label': 'Update'}) }}
</div>
{% endblock %}

{% block footer_scripts %}
    <script src="{{ asset('assets/admin/js/form-validation.js') }}"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>

    <script>
        $(".js-datepicker").flatpickr({minDate: 'today'});
    </script>
{% endblock %}