{% extends 'base.html.twig' %}

{% block title %}About{% endblock %}

{% block body %}

    <section class="section">
        <div class="lm-container lm-container-small">
            <div class="section-title-wrap">
                <h2 class="section-title m-0 pb-3 section-title-small">
                    About Us
                </h2>
            </div>
            <div class="content-area">
                <p>
                    We are a team of health care professionals who are dedicated to the mission of providing the best
                    platform for hiring health care professionals. We aim and strive to help hospitals get their needed
                    manpower not only on time and with ease but also with reasonable cost expenditures. We understand
                    the challenges that hospitals and practices face to keep the staffing adequate to provide excellent
                    patient care in all cities and in rural places.
                </p>

                <p>
                    We also value the health care professionals dedication in the line of work they do and understand
                    the challenges that healthcare professionals face on a day to day basis. We have brought the lounge
                    section in the platform to advance the efforts to help health care professionals network and express
                    themselves out of medicine on matters that would otherwise remain unspoken to a community that
                    understands them better.
                </p>

                <p>
                    We know that you will love the platform and thus expect more of your participation to advance the
                    good work we all can do for each other.
                </p>
            </div>
        </div>
    </section>

{% endblock %}