{% extends 'base.html.twig' %}

{% block title %}Contact Us{% endblock %}

{% block body %}

    <section class="section section-contact">
            <div class="lm-container">
                <div class="section-contaction">
                    <div class="row">
                        <div class="block-hero-contact__content-col col-md-5">
                            <div class="section-title-wrap">
                                <h1 class="section-title ">Contact Us</h1>
                            </div>
                            <ul class="contact-detail">
                                <li>
                                    <i class="fal fa-location"></i>
                                    <h4>Visit us at:</h4>
                                    <p>
                                        123 Market St. #22B <br>
                                        Charlottesville, California 44635
                                    </p>
                                </li>
                                <li>
                                <i class="far fa-phone"></i>
                                    <h4>
                                        Talk right now:
                                    </h4>
                                    <p>
                                        <a href="tel:+(434)546-4356">
                                        (434)546-4356</a>
                                    </p>
                                </li>
                                <li>
                                <i class="fal fa-envelope-open-text"></i>
                                    <h4>
                                        Contact Email:
                                    </h4>
                                    <p class="copy-text">
                                        <a href="mailto:sales@locummlancer.com "> sales@locummlancer.com </a>
                                    </p>
                                </li>
                                <li>
                                    <h4>
                                        Find Us On:
                                    </h4>
                                    <div class="social-media">
                                        <a href="#" class=" fab fa-facebook-f" target="_blank"> </a>
                                        <a href="#" class="fab fa-twitter " target="_blank"> </a>
                                        <a href="#" class="fab fa-instagram " target="_blank"> </a>
                                        <a href="#" class="fab fa-youtube " target="_blank"> </a>

                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="block-hero-contact__form-col col-md-7">
                            <h2 class="contact-title">
                                Send us a message
                            </h2>
                            <form name="inquiry" method="post">
                                <div>
                                    <label for="inquiry_name" class="required">Name</label>
                                    <input type="text" id="inquiry_name" name="inquiry[name]" required="required" maxlength="255">
                                </div>
                                <div>
                                    <label for="inquiry_email" class="required">Email</label>
                                    <input type="email" id="inquiry_email" name="inquiry[email]" required="required">

                                </div>

                                <div>
                                    <label for="inquiry_message" class="required">Message</label>
                                    <textarea id="inquiry_message" name="inquiry[message]" required="required" cols="30" rows="10"></textarea>
                                </div>
                                <div>
                                    <button class="btn  th-btn ">
                                        Submit
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>

                </div>
            </div>
        </section>

{% endblock %}