{% extends 'base.html.twig' %}

{% block title %}Privacy Policy{% endblock %}

{% block body %}

    <section class="section">
        <div class="lm-container">
            <div class="section-title-wrap">
                <h2 class="section-title m-0 pb-3 section-title-small">
                    Privacy Policy
                </h2>
            </div>
            <div class="content-area">
                <p>
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laudantium expedita quaerat placeat sunt commodi iusto quis, quos dolores quo doloribus tempora molestias ullam provident, alias ex voluptatibus officia soluta iste.m
                </p>

                <p>
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laudantium expedita quaerat placeat sunt commodi iusto quis, quos dolores quo doloribus tempora molestias ullam provident, alias ex voluptatibus officia soluta iste.m
                </p>

                <p>
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laudantium expedita quaerat placeat sunt commodi iusto quis, quos dolores quo doloribus tempora molestias ullam provident, alias ex voluptatibus officia soluta iste.m
                </p>

                <p>
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laudantium expedita quaerat placeat sunt commodi iusto quis, quos dolores quo doloribus tempora molestias ullam provident, alias ex voluptatibus officia soluta iste.m
                </p>
            </div>
        </div>
    </section>

{% endblock %}