<div class="reply-item mt-3">
    <strong>{{ reply.sender }}</strong> replied:<br>
    <p>{{ reply.text|nl2br }}</p>
    {% if reply.attachment %}
        <a href="/uploads/{{ reply.employer.id }}/{{ reply.attachment }}" target="_blank">Download Attachment</a>
    {% endif %}
</div>
