<header class="main-header" style="border-bottom: none;position:absolute;width:100%;top:0;">
    <div class="main-header__wrapper">
        <div class="lm-container">
            <a class="logo" href="{{ path('app_home') }}" style="padding:25px 0;">
                Locum<span style="color:#121C0C;padding: 7px;">lancer</span>
            </a>
        </div>
    </div>
</header>
