@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");

body {
    font-family: "Urbanist", sans-serif;
}

:root {
    --primary-color: #85BB65;
    --secondary-color: #85BB65;
    --tertiary-color: #408ec6;
    --custom-green: #85BB65;
    --light-yellow: #ffa50061;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Lexend", serif;
    font-weight: 500;
}

.app-page-title {
    font-size: 1.5rem;
    color: var(--primary-color);
    font-weight: 500;
    margin: 0 0 12px 0;
}

.app-card .app-card-title {
    color: #000;
}

.app-branding {
    /* height: 60px; */
    padding-top: 1rem;
    padding-left: 14px;
    margin-bottom: 1rem;
    display: block;
}

/* .app-logo {
    display: flex;
    align-items: center;
} */

.app-branding .logo-icon {
    width: auto;
    height: 50px;
    object-fit: cover;
}

.text-logo {
    margin-left: -10px;
    margin-top: 5px;
    width: 0;
    display: none;
}

.radio-group input[type="radio"] {
    margin-right: 5px;
}

.radio-group label {
    margin-right: 20px;
}

label {
    font-weight: bold;
    font-size: 14px;
    color: #000c;
}

.btn-sm {
    padding: 0.25rem 0.5rem;
    font-size: 0.875rem;
    line-height: 1.5;
    border-radius: 0.2rem;
}

/* sidbar */

.app-nav .nav-link.active,
.app-nav .nav-link.active:hover,
.app-nav .nav-link.submenu-toggle.active,
.app-nav .nav-link.submenu-toggle.active:hover,
.app-nav .has-submenu .nav-link.active,
.app-nav .has-submenu .nav-link.active:hover {
    color: #fff !important;
    background: transparent !important;
    background-color: transparent !important;
    border-left: 3px solid #121C0C !important;
    font-weight: 500 !important;
}

.app-nav .nav-link.active .submenu-arrow  {
	color: #fff !important;
}

.app-nav .nav-link.active .icon-image {
    color: #fff !important;
    fill: #fff !important;
}

.app-nav .submenu-link.active,
.app-nav .submenu-link.active:hover,
.app-nav .submenu-item .submenu-link.active,
.app-nav .submenu-item .submenu-link.active:hover {
    color: #121C0C !important;
    background: transparent !important;
    background-color: transparent !important;
}

.app-nav .submenu-link.active:before,
.app-nav .submenu-item .submenu-link.active:before {
    display: none !important;
    background: transparent !important;
    background-color: transparent !important;
    content: none !important;
}

.app-nav .nav-link .nav-link-text,
.logo-text {
    max-width: 0;
    width: 0;
    visibility: hidden;
    opacity: 0;
    display: inline-block;
    white-space: nowrap;
}

.app-nav .nav-link .nav-link-text {
    margin-left: 20px;
}

.app-nav .submenu-arrow,
.app-nav .nav-item.has-submenu ul {
    
    visibility: hidden;
    height: 0;
    transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}

.app-sidepanel .sidepanel-inner {
    width: 60px;

    transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}

.app-sidepanel .app-nav-main {
    overflow: hidden;
}

.app-nav .nav-item {
    color: rgba(19, 21, 25, 0.9);
    font-size: 13px;
    margin-bottom: 0;
    font-weight: 400;
    font-family: "Lexend", serif;
}

.app-nav .submenu-link {
    font-size: 13px;
    color: rgba(19, 21, 25, 0.8);
}

.app-nav .submenu-link:hover {
    color: var(--primary-color);
}

.app-sidepanel .sidepanel-inner:hover {
    width: 250px;
}

.app-sidepanel .sidepanel-inner:hover .logo-icon {
    display: none;
}

.app-sidepanel .sidepanel-inner:hover .text-logo {
    display: inline;
}

.app-sidepanel .sidepanel-inner:hover :is(.app-nav .nav-link .nav-link-text, .text-logo) {
    max-width: 250px;
    width: 1100px;
    opacity: 1;
    visibility: visible;
    transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}

.app-sidepanel .sidepanel-inner:hover :is(.app-nav .submenu-arrow, .app-nav .nav-item.has-submenu ul) {
    opacity: 1;
    visibility: visible;
    transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}

.app-sidepanel .sidepanel-inner:hover .app-nav .nav-item.has-submenu ul {
    height: auto;
}

.app-nav .nav-link:hover {
    color: var(--primary-color) !important;
    cursor: pointer;
}

.app-nav .nav-link {
    padding-left: 40px;
}

/* sidbar */

a:hover {
    color: var(--primary-color);
}

.is-card .card-body {
    display: flex;
    gap: 10px;
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: left;
    position: relative;
    flex-direction: row-reverse;
    align-items: end;
}

.is-card .card-body img {
    position: absolute;
    right: 12px;
    top: 12px;
}
