{% extends 'admin/base.html.twig' %}

{% block title %}Invoice Settings{% endblock %}

{% block admin_body %}

    <div class="container-xl">
        <h1 class="app-page-title">Invoice Settings</h1>
        <hr class="mb-4">
        <form action="" method="post" class="form-horizontal" enctype="multipart/form-data">
            <div class="row g-4 settings-section">
                <div class="col-12 col-md-3">
                    <h3 class="section-title">Revenue after Hiring</h3>
                    <div class="section-intro">Cash Back Model</div>
                </div>
                <div class="col-md-6">
                    <div class="app-card app-card-settings shadow-sm p-4">

                        <div class="app-card-body">
                            <div class="mb-3">
                                <div class="form-group">
                                    <label for="flat_fee_amount">Flat Fee Amount</label>
                                    <input type="number" class="form-control" name="flat_fee_amount" min="0" value="{{ getConfig('flat_fee_amount', '') }}" />
                                </div>
                            </div>

                            <div class="mb-3">
                                <label for="cashback_percent">Cashback %</label>
                                <input type="number" class="form-control" name="cashback_percent" min="0" max="100" value="{{ getConfig('cashback_percent', '') }}" />
                            </div>

                            <button type="submit" class="btn btn-primary">Save Changes</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>

{% endblock %}


