body,
html,
.body {
    background: rgba(64, 142, 198, 0.168627451) !important;
    font-family: "IBM Plex Sans", sans-serif;
}

table.button table td {
    background: none;
    border: none;
}

table.button table td a {
    border: none;
    border-radius: 6px;
    background-color: #051a48;
}

.footer-logo {
    margin-top: -2px;
}

.text-muted {
    color: #8D8D8D;
}

.text-small {
    font-size: 80%;
    color: #0a0a0a;
}

.unsubscribe {
    color: #46586B;
}

.unsubscribe a {
    color: #B6D6CB;
}

.header-logo img {
    width: 150px;
}

.footer-logo img {
    height: 32px;
}

.mail-greet {
    color: #3F4F4A;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
}

.mail-info {
    color: #6F6F6F;
    font-weight: 400;
    text-align: center;
}

.social-icons a > img {
    display: inline-block;
    padding: 10px;
    vertical-align: middle;
}

.quote {
    text-align: center;
    font-size: 80%;
    font-weight: bold;
    color: #525252;
}

.text-xxs {
    font-size: 10.1111111111px;
}

.text-bold {
    font-weight: bold;
}

.text-semi-bold {
    font-weight: 600;
}

.circular_image {
    border-radius: 50%;
    width: 80px;
    height: 80px;
    float: left;
    margin-right: 20px;
}

.circular_image +span{
    display: block;
    margin-top: 15px;
}

.expertise-wrap{
    gap: 4px 0px;
    flex-wrap: wrap;
    display: flex;
}

.expertise-wrap .expertise-item{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: rgba(0, 0, 0, 0.88);
    font-size: 12px;
    line-height: 20px;
    list-style: none;
    display: inline-block;
    height: auto;
    margin-inline-end: 8px;
    padding-inline: 7px;
    white-space: nowrap;
    background: #fafafa;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    opacity: 1;
    transition: all 0.2s;
    text-align: start;
    position: relative;
}