{% extends 'emails/base.html.twig' %}

{% block body %}

    <h4 class="text-center text-semi-bold">Hi! Please confirm your email!</h4>

    <spacer size="16"></spacer>

    <p class="text-center">Please confirm your email address by clicking the following link:</p>

    <spacer size="16"></spacer>

    <center>
        <button class="small-expanded" href="{{ signedUrl|raw }}">Confirm my Email</button>
    </center>

    <spacer size="16"></spacer>

{% endblock %}


