{% extends 'emails/base.html.twig' %}

{% block body %}

    <h4 class="text-center text-semi-bold">{{ subject }}</h4>

    <spacer size="16"></spacer>

    <p class="text-center">{{ message }}</p>

    <spacer size="16"></spacer>

{% endblock %}


