{% extends 'emails/base.html.twig' %}

{% block body %}
    <h1 class="text-center">Hello  [Username],</h1>

    <spacer size="16"></spacer>

    <p class="text-center">We would like to recommend the following experts to you based on your interests:</p>

    <spacer size="16"></spacer>



    <center>
        <button class="small-expanded" href="#">Log in & book an appointment</button>
    </center>

    <spacer size="16"></spacer>

    <p class="text-center">To view the profiles in detail, please log in to the platform.</p>

    <spacer size="16"></spacer>

    <p class="text-center">John Doe, from {{ getConfig('brand_name') }}</p>
{% endblock %}