{% extends 'provider/base.html.twig' %}

{% block title %}My Documents{% endblock %}

{% block provider_body %}
<div class="container-xl">
    <h1 class="app-page-title">My Documents</h1>
    <!-- Document categories and listings will be added here -->
</div>
{% endblock %}
