{% extends 'provider/base.html.twig' %}

{% block title %}Edit Experience & Training{% endblock %}

{% block provider_body %}
<div class="container-xl">
    <h1 class="app-page-title">Edit Experience & Training</h1>
    <section class="content">
        <div class="row">
            <div class="col-12">
                {{ include('provider/experience/_form.html.twig', {'button_label': 'Update'}) }}
            </div>
        </div>
    </section>
</div>
{% endblock %}
