{% extends 'base.html.twig' %}

{% block title %}Error - {{ status_code }}{% endblock %}

{% block body %}
    <div class="container text-center mt-5 mb-5">
        <h1 class="display-1 text-danger">{{ status_code }}</h1>
        <h2 class="text-muted">{{ status_text }}</h2>
        <p class="lead">Oops! Something went wrong.</p>
{#        <a href="{{ path('app_home') }}" class="btn btn-primary mt-3">Return to Homepage</a>#}
    </div>
{% endblock %}
